body{
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.pnlMessagePublic{
    height: 450px;
}

#chat-container {
    max-width: 600px;
    margin: 30px;
    border: :1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,.5);
}

#chat-window {
    padding: 14px 0;
    margin: 0px;
    color: #555;
    font-size: 12px;
}

#chat-users {
    padding: 20px 0;
    margin: 0px;
    color: #555;
    font-size: 12px;
    height: 250px;
}

#chat-privates {
    padding: 20px 0;
    margin: 0px;
    color: #555;
    font-size: 12px;
    height: 250px;
}

#chat-users a{
    display: block;
}

#output P{
    color: #aaa;
    padding: 4px 0;
    margin: 0 20px;
}

#actions p{
    padding: 2px 0;
    margin: 0 20px;
    color: $555;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    border:0;
    background: #eee;
    display: block;
    width: 100%;
}

button {
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 5px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

.hide{
    display: none;
}

.login{
    height: 30px;
    width: 220px;
    font-size: 12px;
}

.distancia{
    margin-top: -10;
}